@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Frank+Ruhl+Libre&family=Merriweather:wght@900&family=Muli:ital,wght@0,200;0,400;1,800&family=Playfair+Display&family=Roboto&display=swap');
/*Estilos pagina inicio*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "verdana";
    margin: 0 auto;
    /*background-color: #C5CCD0;*/
    background-color: #B0D7FF;
}
header {
    background-color: #B0D7FF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 150px;
}
h1 {
    text-align: center;
    padding-top: 70px;
    color: #2D3142;
    font-size: 60px;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
footer {
    background-color: #2D3142;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #FAFFFD;
}
/*Home*/

#logo {
    width: 200px;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 10px;
    font-family: helvetica;
    color: #2D3142;
}
.contenedor-buscador {
    width: calc(100% - 200px);
    position: relative;
    padding: 10px;
}
#buscador-header {
    height: 50px;
    width: 100%;
}
.contenedor-boton {
    position: absolute;
    top: 10px;
    right: 10px;
}
#boton-buscar {
    background-color: #2D3142;
    width: 50px;
    height: 50px;
    border: 0;
}
#lupa {
    font-size: 20px;
    color: #FAFFFD;
}
.button-responsive {
    display: none;
}
.menu-header {
    padding: 0.6em;
    margin-top: 50px;
    width: 100%;
    background-color: #2D3142;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50px;
    z-index:1;
}
.menu-header ul {
    list-style: none;
    text-align: center;
}
.menu-header li {
    display: inline-block;
    padding-right: 20px;
    padding-top:5px;
}
.menu-header a {
    text-decoration: none;
    color: #FAFFFD;
    font-family: 'Open Sans', sans-serif;
}

.contenedor-slider img {
    width: 100vw;
    height: 600px;
               
 }
.contenedor-central {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.circulos {
    background-color: #2D3142;
    /*background-color: #464B5A;*/
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
#enfermedades {
    font-size: 80px;
    padding-left: 25px;
    padding-top: 30px;
    color: #FAFFFD;
}
#jeringa {
    font-size: 100px;
    padding-left: 25px;
    padding-top: 20px;
    color: #FAFFFD;
}
#gps {
    font-size: 80px;
    padding-left: 45px;
    padding-top: 30px;
    color: #FAFFFD;
}
.links {
    text-decoration: none;
    background-color: #2D3142;
    /*background-color: #464B5A;*/
    color: #FAFFFD;
    padding: 10px 50px 10px;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    font-family: 'Merriweather', serif;
}
.franja-llamado {
    background-color: #1C1F32;
    height: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
.contenedor-izquierdo {
    margin: 0 auto;
}
#parrafo-1 {
    padding-top: 20px;
    font-size: 18px;
    color: #C5CCD0;
}
#parrafo-2 {
    padding-top: 10px;
    font-size: 55px;
    font-weight: bolder;
    color: #C5CCD0;
}
.contenedor-derecho {
    margin: 0 auto;
}
#telefono {
    color: #C5CCD0;
    font-size: 100px;
    padding-right: 20px;
}
#numero {
    font-size: 100px;
    font-weight: bolder;
    color: #C5CCD0;
}
#subtitulo-izquierdo {
    padding-bottom: 10px;
}
#subtitulo-central {
    padding-top: 25px;
}
.menu-footer li {
    list-style: none;
}
.menu-footer a {
    text-decoration: none;
    color: #FAFFFD;
}
.columna1,
.columna2,
.columna3 {
    margin: auto;
}
#redes-sociales {
    display: flex;
    padding-top: 5px;
}
#redes-sociales div {
    padding-left: 5px;
}
#redes-sociales div a img {
    width: 50px;
    height: 50px;
}

/*Si hago primero la pagina pensada en pc empiezo desde resolucion de tablet, despues sigo con mobile, y luego superior a la resolucion estandar*/
/* @media*/

@media screen and (max-width:60em) {
    #numero {
        font-size: 4.5em;
    }
    #telefono {
        font-size: 1.5em;
    }
    .button-responsive {
        display: none;
    }
    .menu-header{
        display: inline-block;
        padding: 0.6em;
        z-index: 1;
    }
    
}
@media screen and (max-width:47em) {
    header {
        background-color: #646f9b;  
    }
    footer {
        background-color: #646f9b;
    }
    #logo {
        text-align: center;
    }
    .contenedor-buscador {
        width: 50%;
    }
    
    .button-responsive {
        display: flex;
        position: absolute;
        left: 0;
        top: 7.1em;
        width: 10%;
        z-index: 5;
    }
    .button-responsive button {
        background-color: #2D3142;
        width: 100%;
        height: 4em;
    }
    #icono-menu {
        font-size: 2.5em;
        color: #C5CCD0;
    }

    #menu{
        display: none;
    }
    .menu-header {
        background-color: #646f9b;
      z-index: 0;
      padding:0;
      display: flex;
    
      
    }
    .menu-header ul {
        display: flex;
        flex-direction: column;
        background-color: #2D3142;
        z-index: 6;
        position: absolute;
        left: 0;
        padding-bottom: 4em;
        width: 100vw;
        height: 40vh;
        top:19%;
        
        border-bottom: 2px solid #373d55;
        
    }
    .menu-header li {
        padding-top: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid #373d55;
        
    }
    .menu-header a {
        font-size: 1.4em;
        
    }
    .menu-open{
        margin-left: 0;
    }
    .contenedor-slider{
        background-color: #646f9b;
    }
    .contenedor-slider img {
        width: 100vw;
        
    }
    .contenedor-central {
        flex-direction: column;
        align-items: center;
    }
    .contenedor-central article {
        margin-bottom: 3em;
    }
    .franja-llamado {
        flex-direction: column;
    }
    #parrafo-2 {
        font-size: 2em;
        margin-left: 2em;
        margin-top: 0.5em;
    }
    #telefono {
        font-size: 1em;
    }
    .columna1,
    .columna2,
    .columna3 {
        font-size: 1.2em;
        width: 80vw;
        margin-bottom: 0.5em;
    }
    #subtitulo-izquierdo {
        text-align: center;
    }
    .columna1 p {
        text-align: center;
    }
    .columna2 {
        text-align: center;
    }
    .columna3 {
        text-align: center;
    }
    .columna3 div {
        justify-content: center;
    }
}
/*Enfermedades*/

#titulo-enfermedad {
    text-align: center;
    background-color: #6bb0e6;
}
#contenedor-buscador-enfermedades {
    width: 100%;
    background-color: #6bb0e6;
}
.barra-de-busqueda {
    margin: auto;
    width: 50%;
    height: 50px;
    position: relative;
}
#buscador-enfermedades {
    width: 100%;
    height: 50px;
    border: 2px solid grey;
    border-radius: 10px;
}
.contenedor-icono {
    position: absolute;
    right: 1em;
    top: 1em;
}
#lupa-enfermedad {
    font-size: 30px;
    color: #797E89;
    opacity: 0.3;
}
.contenedor-listaEnfermedades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #6bb0e6;
    padding-bottom: 10px;
}
/*Al utilizar flex, el article se transforma en padre para la img,p etc*/

.articulos {
    display: flex;
    width: 50%;
}
.contenido-article {
    display: flex;
    margin: auto;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}
.articulos img {
    margin-top: 20px;
    height: 200px;
    width: 40%;
    border-radius: 20px;
}
.informacion {
    width: 80%;
    margin-left: 20px;
    /*Utilizar color para diferenciarlo*/
}
.informacion .titulo-enfermedad {
    padding: 10px 1px 20px 0px;
    font-size: 30px;
}
.informacion input {
    padding: 10px;
    margin-top: 10px;
    color: #FAFFFD;
    background-color: #2D3142;
    border: 2px solid #2D3142;
    border-radius: 10px;
    cursor: pointer;
}
/*@media */

@media screen and (max-width:60em) {
    .contenedor-listaEnfermedades {
        flex-wrap: nowrap;
        padding-bottom: 1.2em;
    }
    .articulos {
        width: 80%;
    }
}
@media screen and (max-width:47em) {
    
     header {
        background-color: #646f9b;
        height: 150px;
    }
    footer {
        background-color: #646f9b;
    }
    .button-responsive {
        display: flex;
    }
    .menu-header {
     
   
        display: none;
    }
   
    #titulo-enfermedad{
        font-size: 10vw;
    }
    .articulos img {
         margin: 2em auto ;
        width: 55%;
    }
    .contenido-article{
         flex-direction: column;
    } 
    .informacion{
        text-align: center;
    }
    .informacion input{
        width: 50vw;
    }
}
/*Detalle de enfermedadaes*/

.contenedor-enfermedad {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #6bb0e6;
}
#nombre-enfermedad {
    font-size: 25px;
    margin-bottom: 10px;
}
.articulo {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: auto;
}
.articulo img {
    height: 200px;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 20px;
}
/*Titulo del formulario de test*/

#titulo {
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #72b6eb;
}
.contenedor-texto {
    width: 45%;
}
.contenedor-texto p {
    margin: 20px 20px;
}
#titulo-sintoma {
    padding-left: 20px;
}
/*Pongo display flex para que el articulo que se encuentra abajo,
se posicione a la derecha*/

#contenedor-article {
    display: flex;
    background-color: #72b6eb;
}
.article-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}
.article-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.article-right p {
    margin: 20px 0;
}
.article-right form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}
#nombre-apellido {
    width: 100%;
    height: 30px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 10px;
}
.contenedor-dni-telefono {
    margin-top: 20px;
    display: flex;
    height: 60px;
}
.contenedor-dni-telefono input {
    margin: 10px 0 0 5px;
    height: 35px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 90%;
}
.contenedor-dni-telefono #celular {
    margin-left: 20px;
}
.contenedor-ciudad-sexo {
    display: flex;
    margin: 20px 0;
}
.contenedor-ciudad-sexo #ciudad {
    height: 30px;
    border-radius: 10px;
    border: 2px solid grey;
    width: 90%;
}
#opciones {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid grey;
}
.contenedor-paises {
    margin: 10px 0 20px 0;
}
.titulo-sintomas {
    margin: 5px 0;
}
.contenedor-direccion-localidad {
    margin-bottom: 10px;
    display: flex;
}
.contenedor-direccion-localidad input {
    height: 30px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 90%;
}
#button-send {
    width: 20%;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #2D3142;
    color: #FAFFFD;
    background-color: #2D3142;
    float: right;
}
.section-precaucion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
 
    width: 100%;
    background-color: #6bb0e6;
}
.section-precaucion p {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.imagen-precaucion img {
    padding-left: 50px;
}
.section-hospitales-cercanos {
   
    background-color: rgb(114, 182, 235);
}
#titulo_seccion {
    font-size: 20px;
    text-align: center;
}
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#nombre-hospital {
    font-size: 20px;
}
.articulo-hospital {
     width: 35%;
    margin-left: 5%;
 margin-top: 2%;
     }
.articulo-hospital p {
     margin-bottom: 10px;

}
.articulo-hospital img {
      width:60%;
     height: 300px;
     margin: auto;
}

#article-mapa {
    width: 50%;
    margin: auto 0 0 0;
    
}
#article-mapa iframe {
    width: 100%;
 height: 300px;
  
}



     /* @media*/

@media screen and (max-width:60em) {
    .articulo {
        padding-bottom: 2em;
        width: 80vw;
    }
    .articulo img {
        width: 45%;
    }
    #titulo {
        padding: 1em;
    }
    .article-right {
        margin-right: 2em;
    }
   
    
    .contenedor-texto{
      margin: auto;
        width: 100%; 
    }
  
    
    .imagenes{
         display: flex;
        flex-direction: row;
         flex-wrap: wrap;
        width: 50vw;  
                           
    }
    .imagenes img {
        width:40vw;
        margin: auto;
    }
    
    
    .Precaucion p {
        font-size: 2em;
    }
    .imagen-precaucion img {
        width: 30%;
    }
    
    
    #titulo_seccion{
        padding: 1em;
    }
    .articulo-hospital{
        width: 50%;
         margin:2em;
        
    }
    .articulo-hospital img{
        width: 100%;
    }
    #article-mapa{
        width: 90%;
      
 
    }
    .contenedor_mapa_cercano {
         width: 80%; 
        margin:  2em auto;

    }
               
     
    }

@media screen and (max-width:47em) {
     header {
        background-color: #646f9b;
        height: 150px;
    }
    footer {
        background-color: #646f9b;
    }
    
    
    #nombre-enfermedad {
        font-size: 3em;
    }
    .articulo {
        display: flex;
        flex-direction: column;
    }
    .articulo img {
        margin: 1em auto;
        width: 60%;
    }
    .informacion {
        margin: auto;
    }
#contenedor-article{
flex-direction: column;
 margin: auto;
}
#titulo{
 font-size: 1.5em;
}
.article-left{
 margin: auto;
 
}
.article-left p{
 font-size: 1.3em;
}
.article-right{
 margin: 1em auto;
}    


#button-send{
 width: 100%;
 padding: 10px;
}
.Precaucion p{
 font-size: 1.5em;

}

.imagen-precaucion{
 display: flex;
 flex-direction: column;
}
.imagen-precaucion img{
 width: 70%;
 margin: 1em auto;
}
.contenedor{
  flex-direction: column;

}
.articulo-hospital{
 margin: 1em auto;
 
}

#article-mapa{
margin: 1em auto 2em auto;   
}


 }
/*Mapa*/

#titulo-mapa {
    font-size: 25px;
    text-align: center;
    padding: 40px;
    color: #FAFFFD;
    background-color: rgb(114, 182, 235);
}
.seccion-mapa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(114, 182, 235);
}
#contenedor-mapa {
    width: 100%;
    margin-bottom: 50px;
}
#contenedor-mapa iframe {
    width: 100%;
    height: 600px;
}
/*@media*/

@media screen and (max-width:60em) {
    #contenedor-mapa {
        width: 70%;
    }
    #contenedor-mapa iframe {
        height: 25em;
    }
}
@media screen and(max-width:47em) {
    
     header {
        background-color: #646f9b;
        height: 150px;
    }
    footer {
        background-color: #646f9b;
    }
    .button-responsive {
        display: flex;
        position: absolute;
        left: 0;
        top: 6em;
        width: 10%;
    }
    .button-responsive button {
        background-color: #2D3142;
        width: 100%;
        height: 4em;
    }
    #icono-menu {
        font-size: 2.5em;
        color: #C5CCD0;
    }
    .menu-header {
        background-color: #B0D7FF;
        padding-top: 2.5em;
        /*Cuando haga Js habilitarlo(sacarle el display none)*/
        display: none;
    }
    .menu-header ul {
        display: flex;
        flex-direction: column;
        background-color: #2D3142;
        z-index: 4;
        position: absolute;
        left: 0;
        padding-bottom: 4em;
        width: 100vw;
        height: 40vh;
        top:0;
    }
    .menu-header li {
        padding-top: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid #373d55;
    }
    .menu-header a {
        font-size: 1.4em;
    }
}
/*Contacto*/
/*Article izquierdo Contacto*/

#contenedor-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5em;
}
#contacto {
    color: #2D3142;
    margin: auto;
    width: 50%;
}
#titulo-contacto {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    margin-top: 1em;
}
#contenedor-formulario {
    width: 50%;
    margin: 0 auto;
}
#contenedor-formulario .input {
    display: block;
}
.input {
    margin: 20px 0;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
}
#contenedor-formulario textarea {
    border: 1px solid grey;
    width: 100%;
    border-radius: 10px;
}
#button {
    background-color: #2D3142;
    width: 15%;
    height: 30px;
    margin-top: 10px;
    color: #FAFFFD;
    border: #3580D2;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}
#button:hover {
    background-color: #464B5A;
    transition: 1s;
}
/* Article derecho Datos contacto*/

#datos-contacto {
    width: 50%;
    margin-top: 2em;
}
#titulo-datos {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}
#redes-sociales-contacto div {
    display: inline-block;
}
#redes-sociales-contacto div a img {
    width: 50px;
}
/*Seccion Ubicacion*/

#titulo-ubicacion {
    font-size: 35px;
    text-align: center;
    margin: 40px 0px 20px 0;
    color: #2D3142;
    font-family: 'Roboto', sans-serif;
}
#contenedor-ubicacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#ubicacion {
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    margin-left: 10%;
}
#ubicacion iframe {
    width: 90%;
    height: 500px;
}
@media screen and (max-width:60em) {
    #button {
        width: 25%;
    }
    
}
@media screen and (max-width:47em) {
     header {
        background-color: #646f9b;
        height: 150px;
        width: 100vw;
    }
    footer {
        background-color: #646f9b;
    }
    
    .button-responsive {
        display: flex;
    }
    #titulo-contacto {
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
    }
    #contenedor-contacto {
        flex-direction: column;
    }
    #contacto {
        width: 100vw;
    }
    #contenedor-formulario input {
        height: 3em;
        width: 100%;
    }
    #datos-contacto {
        margin: 2em auto;
    }
    #titulo-datos {
        margin-bottom: 1em;
        font-weight: bolder;
        text-align: center;
        }
    #datos-contacto p {
        font-size: 1.5em;
        text-align: center;
        
    }
    #button {
        width: 30%;
    }
    #redes-sociales-contacto {
        /*margin: 1em 5em;*/
        text-align: center;
    }
    #contenedor-ubicacion {
        width: 90%;
    }
    #contenedor-ubicacion iframe {
        width: 100%;
        height: 25em;
    }
}
@media screen and (max-width:25em){
.button-responsive{
 width: 15%;
}
.contenedor-buscador{
 width: 70%;
 margin: 2em 2em 2em auto; 
}
#datos-contacto{
 width: 100vw;
}
#contenedor-formulario {
 width: 80%;
}
}